.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #ffdbc5;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  font-size: 8rem;
  color: #423144;
}

p {
  font-size: 2rem;
  color: #423144;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 5%;
  text-align: center;
}

a{
  font-family: sans-serif;
  color: #423144;
  text-decoration: none;
}

a:hover{
  color: #fff;
}
